.imgBox {
  position: relative;
  width: 160px;
  height: 160px;
  display: inline-block;
  margin: 5px;
  .img {
    width: 160px;
    height: 160px;
    cursor: pointer;
  }
  .activity {
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 32px;
    height: 32px;
    background: #FFFFFF;
    border-radius: 50%;
  }
}

.error {
  width: 32px;
  height: 32px;
  position: relative;
  top: 2px;
}
