.wzzy-header{
    background-color: #F0F0F0;
    .header-date{
        height: 40px;line-height: 40px;font-size: 14px;color: #666666;
        >span{ float: left}
        >a{ color: #666666;float: right;margin-right: 15px;display: inline-block;cursor: pointer;}
        .my-login{ height: 100%;width: 100px;position: relative;float: right;cursor: pointer;z-index: 3;
            > a{ display: block;width: 100%;height: 100%;text-align: center;line-height: 40px;
              overflow: hidden;text-overflow: ellipsis;white-space: nowrap;
            }
            .my-login-box{ position: absolute;width: 110px;background-color: #ffffff;border-radius: 4px;
                height: 190px;right: 0;top: 50px;text-align: center;line-height: normal;
                &:before{ content: '';position: absolute;bottom: 100%;right: 20px;
                    width: 0;  height: 0;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-bottom: 5px solid #ffffff;
                }
                h2{ font-size: 16px;margin-bottom: 5px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
                img{ width: 50px;height: 50px;margin-top: 10px;}
                p{ color: #999999;margin-bottom: 5px;}
                div{ border-bottom: 2px solid #E7E7E7;border-top: 2px solid #E7E7E7;
                    padding: 5px 0;margin-bottom: 5px;display: inline-block;
                }
                a{ padding: 5px 8px;background-color: #F0F0F0;color: #666;font-size: 14px;
                    display: inline-block;
                    &:hover{ color: #BC0000}
                }
            }
        }
    }
    .header-nav{
        height: 236px;background: url("../../../../static/wzzy/wzzy-head.jpg") no-repeat center;
        background-size: cover;
        .pagewrap{ height: 100%;}
        .header-title{ overflow: hidden;position: absolute;width: 100%;top: 42%;height: 80px;margin-top: -40px;}
        .header-logo{
            float: left;
        }
        .header-search{
            float: right;width: 400px;margin-top: 20px;
            .el-select .el-input {
              width: 110px;
            }
            .el-input-group__prepend{ border: none;background: none;
              color: #666666;
            }
            .el-input-group__append{ border: none;background-color: #BC0000;color: #ffffff;padding: 0 6px;}
            .el-select .el-input .el-input__icon{ color: #757271}
            .el-input__inner{ border: none;background-color:rgba(255,255,255,0.9) }
            .el-input-group>.el-input__inner{ margin-left: 1px;}
        }
        .header-menu{ height: 56px;background-color: #BC0000;position: absolute;width: 100%;padding: 0 20px;
            bottom: 0;left: 0;border-top-left-radius: 6px;border-top-right-radius: 6px;padding-top: 10px;
            z-index: 2;
            .menu-a{ height: 46px;font-size: 18px;color: #ffffff;width: 100%;line-height: 50px;text-align: center;
                display: block;border-top-left-radius: 4px;border-top-right-radius: 4px;cursor: pointer;
                &.active,&:hover{ background-color: #ffffff;color: #BC0000;}
            }
        }
        .header-menu-sub{ height: 60px;line-height: 60px;background-color: #ffffff;position: absolute;bottom: -60px;
            width: 100%;z-index: 1;text-align: center;
            box-shadow: 0 0 10px 2px rgba(0,0,0,.03);
            padding: 0 20px;
            a{ display: block;font-size: 16px;color: #666666;cursor: pointer;
                &:hover,&.active{ color: #BC0000;}
            }
        }
    }
}
