.wzzy-header{
    background-color: #F0F0F0;
    .header-date{
        overflow: hidden;height: 40px;line-height: 40px;font-size: 14px;color: #666666;
        >span{ float: left}
        >a{ color: #666666;float: right;margin-right: 15px;display: inline-block;cursor: pointer;}
    }
    .header-nav{
        height: 236px;background: url("../../../../static/wzzy/wzzy-head.jpg") no-repeat center;
        background-size: cover;
        .pagewrap{ height: 100%;}
        .header-title{ overflow: hidden;position: absolute;width: 100%;top: 42%;height: 80px;margin-top: -40px;}
        .header-logo{
            float: left;
        }
        .header-search{
            float: right;width: 400px;margin-top: 20px;
            .el-select .el-input {
              width: 110px;
            }
            .el-input-group__prepend{ border: none;background: none;
              color: #666666;
            }
            .el-input-group__append{ border: none;background-color: #BC0000;color: #ffffff;padding: 0 6px;}
            .el-select .el-input .el-input__icon{ color: #757271}
            .el-input__inner{ border: none;background-color:rgba(255,255,255,0.9) }
            .el-input-group>.el-input__inner{ margin-left: 1px;}
        }
        .header-menu{ height: 56px;background-color: #BC0000;position: absolute;width: 100%;padding: 0 20px;
            bottom: 0;left: 0;border-top-left-radius: 6px;border-top-right-radius: 6px;padding-top: 10px;
            z-index: 2;
            .menu-a{ height: 46px;font-size: 18px;color: #ffffff;width: 100%;line-height: 50px;text-align: center;
                display: block;border-top-left-radius: 4px;border-top-right-radius: 4px;cursor: pointer;
                &.active,&:hover{ background-color: #ffffff;color: #BC0000;}
            }
        }
        .header-menu-sub{ height: 60px;line-height: 60px;background-color: #ffffff;position: absolute;bottom: -60px;
            width: 100%;z-index: 1;text-align: center;
            box-shadow: 0 0 10px 2px rgba(0,0,0,.03);
            padding: 0 20px;
            a{ display: block;font-size: 16px;color: #666666;cursor: pointer;
                &:hover,&.active{ color: #BC0000;}
            }
        }
    }
}
