.centerMess{ }
.centerMessHead{ height: 1.6533333rem;background-color: #FFB036;
position: fixed;left: 0;top: 0;text-align: center;
  a{ padding: 5px 15px;border: 1px solid #ffffff;border-radius: 15px;}
}