.detailCont{
  padding-top: 0.2rem;
  ul{
      margin-bottom: 0.2rem;background-color: #ffffff;padding: 0 15px;
    li{ border-bottom: 1px solid #E5E5E5;padding: 0.4rem 0;
      font-size: 0.3733333rem !important;
      div:nth-child(1){ color: #999999;}
      div:nth-child(2){ color: #666666;
        position: relative;
        a.sign{ color: #ffffff;padding: 4px 6px;background-color: #FC5757;
          position: absolute;right: 0;border-radius: 15px;
        }
        span{
          position: absolute;right: 0;
        }
        a.tel{
          overflow: hidden;display: block;
          img{ width: 0.5333333rem;}
        }
      }
      a{ color: #20a0ff;}
    }
    li:nth-last-child(1){
      border: none;
      div:nth-child(2){
        font-size: 0.3733333rem !important;
      }
    }

  }
}
.baoming{ width: 7.3466666667rem;height: 1.44rem;display: block;;margin:20px auto;
    background: url("../../../../static/wx/yellowbtn.png") no-repeat center;
    background-size: cover;color: #ffffff;font-size: 0.48rem;text-align: center;
    line-height: 1.44rem;
}
